*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:linear-gradient(135deg,#0f172a,#1e293b);
min-height:100vh;
overflow-x:hidden;
overflow-y:auto;
color:white;
}

.entrada{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.entrada h1{
font-size:3rem;
margin-bottom:20px;
}

.entrada p{
font-size:1.2rem;
margin-bottom:30px;
}

button{
padding:15px 35px;
border:none;
border-radius:50px;
font-size:18px;
cursor:pointer;
background:#dc2626;
color:white;
transition:0.4s;
}

button:hover{
transform:scale(1.1);
}

.conteudo{
display:none;
min-height:100vh;
padding:30px;
text-align:center;
justify-content:center;
align-items:center;
flex-direction:column;
animation:fade 2s;
}

.conteudo img{
width:280px;
max-width:90%;
border-radius:20px;
box-shadow:0 0 30px rgba(255,255,255,.3);
margin-bottom:25px;
}

.conteudo h2{
font-size:2.5rem;
margin-bottom:20px;
}

.conteudo p{
max-width:700px;
font-size:1.2rem;
line-height:1.8;
margin-bottom:30px;
}

@keyframes fade{
from{
opacity:0;
}
to{
opacity:1;
}
}

.coracao{
position:fixed;
color:red;
font-size:25px;
animation:subir 6s linear forwards;
}

@keyframes subir{
0%{
transform:translateY(100vh);
opacity:1;
}
100%{
transform:translateY(-120px);
opacity:0;
}
}

@media(max-width:768px){

.entrada h1{
font-size:2rem;
}

.conteudo h2{
font-size:2rem;
}

.conteudo p{
font-size:1rem;
}

}